html,
body {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #191013;
}

.middle-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#canvas {
  border: 10px solid #3c3434;
  z-index: 90;
}

#game_over {
  width: 360px;
  height: 480px;
  z-index: 80;
  background-color: rgba(255, 255, 255, .6);
  text-align: center;
  opacity: 0;
  transition: all ease .6s;
}

#game_over h1 {
  margin-top: 175px;
  font-size: 40px;
  color: #e24a4a;
}

#game_over a {
  font-size: 20px;
  color: #373837;
}
